<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="hostName" value="20.52.186.170" />
    <add key="port" value="5672" />
    <add key="virtualHost" value="/" />
    <add key="password" value="admin" />
    <add key="userName" value="admin" />
  </appSettings>
</configuration>